button:focus {
    outline: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.header {
    padding-top: 77px;
    padding-bottom: 96px;
}
.header-img {
    display: inline-block;
    width: 40%;
vertical-align: middle;

}
.header-text {
    display: inline-block;
    width: 55%;
    vertical-align: middle;
  
}
.header-text__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;

}
.header-text__subtitle {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;

}
.header-text__descr {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 27px;
    max-width: 530;
    margin-bottom: 47px;

}
.header-text__price {
    font-size: 28px;
    font-weight: 700;
    line-height: 3;
}
.button {
    border-radius: 3px;
    background-color: rgb(11, 71, 7);
    font-size: 24px;
    font-weight: 440;
    padding: 5px 18px;
}
.button-o {
    color: rgb(11, 71, 7);
    background-color: transparent;
    border: 2px solid  rgb(11, 71, 7);
}
.section-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    margin-bottom: 70px;
}
.features {
    background-color: rgb(11, 71, 7);
    padding-top: 30px;
    padding-bottom: 40px;
    
    
}
.features-wrap::after {
content: " ";
display: table;
clear: both;
}
.push{
    border-radius: 3px;
    background-color: rgb(11, 71, 7);
    font-size: 24px;
    font-weight: 440;
    padding: 5px 18px;
   

}
.features-block {
    display: inline-block;
    text-align: center;
    width: 33%;
    float: left;
}
.features-block__img {
    min-height: 55px;
    
}
h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}