
.container {
<<<<<<< HEAD
    margin-left: auto;
    margin-right: auto;

   
 
    
}
.header {
    padding-top: 77px;
    padding-bottom: 96px;
}
.header-img {
    display: inline-block;
    width: 39%;

}
.header-text {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
  
}
=======
    background-color: #ffffff;
}
>>>>>>> 1145e4aad1a1267c348408e90f8c2683124c297d
