.header {
    margin-top: 20px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title_img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.uul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.li_1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-right: 45px;
}

.li_2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.button_gl {
    display: block;
    color: white;
    font-size: 20px;
}

.button_1 {
    background: #0098AC;
    border-radius: 5px;
    color: #FFFFFF;
}

.button_2 {
    border: 2px solid #0098AC;
    box-sizing: border-box;
    border-radius: 5px;
    color: #0098AC;
}

.block_1 {
    display: flex;
}

.gl_img {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
}

.but_gl {
    display: flex;
}

.button-block {
    /* А ты в курсе, что он попытается сунуться на весь доступный ему размер?*/
    display: flex;
    background: #0098AC;
    border-radius: 5px;
    color: #FFFFFF;
}

.button-block1 {
    width: 146px;
    border: 2px solid #0098AC;
    box-sizing: border-box;
    border-radius: 5px;
    color: #0098AC;
}

.block-v-blocke {
    display: flex;
}

.text {
    display: flex;
}

.part_0 {
    display: flex;
}

.p_1 {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.part {
    display: flex;
    align-items: center;
}

.tteexxtt {
    display: flex;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stat-gl {
    display: flex;
}

.stat_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.statimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bln2 {
    display: flex;
}

.bln2_img {
    display: flex;
}

.bln3_img {
    display: flex;
}

.bbutton {
    border-radius: 5px: /* потеряла ;*/
}