body {
    font-family: 'Ubuntu', sans-serif;
    background: #FFFFFF;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.header {
    margin: 0 110px 0 110px;
}
.main {
    margin: 0 110px 0 110px;
}
.header {
    display: flex;
    margin-top: 10px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;
}
.uul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}
.uul .li_1, .li_2{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.li_1 {
    margin-right: 60px;
}
.button_gl {
    color: white;
    font-size: 20px;
}
.button_gl button{
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border: 2px solid #0098AC;
    height: 50px;
}
.button_1 {
    background: #0098AC;
    margin-right: 30px;
    width: 215px;
    color: #FFFFFF;
}
.button_2 {
    background: #FFFFFF;
    width: 145px;
    color: #0098AC;
}
.bblock {
    display: flex;
    justify-content: space-around;
}
.ptext {
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 55px;
}
.block_1 {
    display: flex;
    flex-direction: column;
}
.button-block {
    background: #0098AC;
    width: 215px;
color: #FFFFFF;
text-align: center;
}
.button-block1 {
    background: #FFFFFF;
color: #0098AC;
margin-left: 10px;
    width: 145px;
}
.partner {
    display: flex;
    justify-content: center;
}
.part {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img_5 {
    margin-top: 15px;
}
.textt {
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
font-style: normal;
}
.ttext-h p {
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 154.4%;
text-align: justify;
}
.stat-gl {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.stat_img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mobile-stat, .mobile-stat2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mobile-stat2 {
    margin-top: 20px;
}
.statimgm, .statimg1m, .statimg2m, .statimg3m, .statimg4m {
    display: flex;
    flex-direction: column;
   align-items: center;
}
.imgsi {
    background: #FFFFFF;
border: 1px solid #E9E9E9;
box-sizing: border-box;
}
.statimg, .statimg1, .statimg2, .statimg3, .statimg4 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bln2 {
    display: flex;
    margin-top: 130px;
    justify-content: space-around;
}
.bln2 h2 {
    font-style: normal;
font-weight: normal;
}
.bln2 p {
    font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 154.4%;
}
.button25 {
    border-radius: 5px;
    background: #0098AC;
color: #FFFFFF;
    height: 50px;
    border: 5px solid #0098AC;
}
.advantages {
    margin: 50px -110px 0 -110px;
    padding: 0 110px 0 110px;
background: #FCFCFC;
border: 1px solid #E9E9E9;
box-sizing: border-box;
}
.advantages h3 {
    font-style: normal;
    text-align: center;
}
.advantages p { 
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.a-title {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.a-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a-c1, .a-c2, .a-c3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.htow {
    justify-content: space-around;
}
.htow h3 {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 128.9%;
text-align: center;
text-decoration-line: underline;
}
.title_htow {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.img_htow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.fb {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}
.fbc {
    display: flex;
    flex-direction: column;
}
.fbc_h {
    text-align: center;
}
.fbc input {
height: 65px;
width: 700px;
margin-top: 15px;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 154.4%;
text-align: center;
color: gray;
background: #FCFCFC;
border: 1px solid gray;
box-sizing: border-box;
}
.fbc-b {
    display: flex;
    justify-content: center;
}
.fbcb {
    border-radius: 5px;
margin-top: 30px;
    background: #0098AC;
color: #FFFFFF;
font-style: normal;
font-weight: normal;
font-size: 20px;
width: 200px;
height: 50px;
border: 2px solid #0098AC;
}
.f {
background: #3F3D56;
margin-top: 100px;
}
.f1 {
    display: flex;
    justify-content: space-around ;
padding-top: 50px;
}
.f1p, .f2, .f3 {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: rgba(255, 255, 255, 0.7);
}
.bf4b1, .bf4b2 {
    border-radius: 5px;
    background: #0098AC;
color: #FFFFFF;
font-style: normal;
font-weight: normal;
font-size: 20px;
width: 200px;
height: 50px;
border: 2px solid #0098AC;
}
.bf4b1{
    margin-top: 20px; 
}
.bf4b2 {
margin-top: 20px;
}
.f-img {
    display: flex;
    justify-content: space-around; 
    margin-top: 20px;
}
.fn2 {
    text-align: center;
    align-items: center;
    justify-content: space-around;
color: rgba(255, 255, 255, 0.7);
background: #3F3D56;
border: 1px solid #514F6B;
}
@media (max-width: 1600px){
    .header-m-l, .header-m-ru, .block-66, .pl{
        display: none;
    }
    body {
        font-family: 'Ubuntu', sans-serif;
    }
    .bblock, .ttext, .stat, .advantages, .fb {
        background: url(../img1/background.png);
    }
}
@media (min-width: 1600px) and (max-width: 3840px){ 
    .header-m-l, .title_img2, .header-m-ru, .block-66, .pl{
        display: none;
    }
    .bblock, .ttext, .stat, .advantages, .fb {
        background: url(../img1/background.png);
    }
}
@media (max-width: 1200px){
    .bblock, .ttext, .stat, .advantages, .fb {
        background: url(../img1/background.png);
    }
    .title_img2, .pl {
        display: none;
    }
    .header, .main {
        margin: 0;
    }
    .arrow, .img_4{
        margin-right: 0;
    }
    .textt, .stat, .bln2 {
        margin-left: 15px;
    }
    .advantages{
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 1201px) and (max-width: 1600px){
    .title_img2, .pl {
        display: none;
    }
    .bblock, .ttext, .stat, .advantages, .fb {
        background: url(../img1/background.png);
    }
}
@media (max-width: 992px) {
    .bblock, .ttext, .stat, .advantages, .fb {
        background: url(../img1/background.png);
    }
    .img_5,.fb_l, .fb_r, .header-m-l, .header-m-ru, .block-6, .pl{
        display: none;
    }
    .block-66{
        display: initial;
        display: flex;
        align-items: center;
    }
    .patner {
        margin-top: 40px;
    }
    .bln_2, .bln3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bln_2 {
       margin-left: 15px;
    }
    .header, .main  {
        margin: 0;
    }
    .button_1 {
      margin-right: 0px;
      margin-bottom: 10px;
    }
    .ttext {
        margin: 0 15px 0 15px;
    }
    .li_2, .arrow {
        margin-right: 0px;
    }
    .statimg4 h4{
        margin-left: 0;
    }
    .a-c3 h3 {
        margin-top: 4px;
    }
}
@media (max-width: 768px){
    .uul, .button_1, .button_2,
    .button-block, .button-block1, .xx, .img_4, .img_5, 
    .f2, .f3, .iimg, .block-6, .bln_2 img, .img_1, .pl {
display: none;
    }
    .bblock, .ttext, .stat, .advantages, .fb {
        background: url(../img1/background.png);
    }
    .header-m-l, .button_gl {
        display: initial;
    }
    .ttext-h h2 {
        margin-top: 30px;
    }
    .ttext-h p {
        text-align: center;
    }
    .header, .main {
        margin: 0;
    }
    .bblock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .partner {
        margin-top: 50px;
    }
    .stat_img {
     flex-wrap: wrap;
    }
    .title_img{
        margin: auto;
    }
    .header-m-ru{
        display: flex;
        align-items: center;
    }
    .ptext {
        font-size: 32px;
        text-align: center;
    }
    .ttext, .stat {
        margin: 20px 15px 0 15px;
    }
    .textt {
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
    }
    .ttext-h h2 {
        text-align: center;
    }
    .stat-gl {
        margin-top: 25px;
    }
    .statimgm {
        margin-left: 75px;
    }
    .bln2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bln_2, .bln3 {
        text-align: center;
        margin: 0 15px 0 15px;
    }
    .a-img{
        display: flex;
        flex-direction: column;
    }
    .a-c2, .a-c3 h3 {
        margin-top: 50px;
    }
    .img_htow {
        display: flex;
        flex-direction: column;
    }
    .ih {
        margin-top: 50px;
    }
    .fbc input {
        height: 45px;
        width: 400px;
        margin-top: 15px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 154.4%;
        text-align: center;
        color: gray;
        background: #FCFCFC;
        border: 1px solid gray;
        box-sizing: border-box;
    }
    .f1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .f1pimg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .f4img2{
        margin-left: 18px;
        margin-right: 18px;
    }
}
@media (max-width: 576px) {
    .bblock, .ttext, .stat, .advantages, .fb {
        background: url(../img1/background.png);
    }
    .block-6, .img_1, .img_3{
        display: none;
    }
    .header {
        margin: 0 30px 0 30px;
    }
    .bblock {
        display: flex;
        flex-direction: column;
        margin: 0 30px 0 30px;
    }
    .ptext {
       text-align: center;
    }
.partner, .ttext-h h2{
    margin-top: 60px;
}
.bln_2, .bln3 {
    text-align: center;
}
.ttext {
    margin-left: 15px;
}
.f1, .f1pimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f4img2{
    margin-left: 18px;
    margin-right: 18px;
}
}
@media (max-width: 480px){
    .img_3, .pl1, .title_img {
        display: none;
    }
    .bblock, .ttext, .stat, .advantages, .fb {
        background: url(../img1/background.png);
    }
    .pl {
        display: initial; 
    }
    .title_img2 {
        display: initial;
    padding: 0 100px 0 100px;
    }
    .ttext {
        margin: 0 10px 0 10px;
    }
    .ttext-h p {
text-align: center;
    }
    .stat {
        margin-left: 10px;
    }
.fbc input {
    height: 35px;
width: 300px;
margin-top: 15px;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 154.4%;
text-align: center;
color: gray;
background: #FCFCFC;
border: 1px solid gray;
box-sizing: border-box;
}
.a-title {
    text-align: center;
}
}